body{
    position: relative;
    font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif !important;
    .header{
        position: relative;
        top: 0;
        left: 0;
        z-index: 99;
        width: 100%;
        height:30vh;
        background:url(../images/header.jpg) center / cover;
        .header-content{
            position: relative;
            max-width: 1170px;
            margin: 0 auto;
            padding: 20px 0 0 0;
            .header-main{
                width: 100%;
                .logo{
                        display: inline-block;
                        width: 10%;
                        position: relative;
                        top: -5px;
                        a{
                            display: block;
                            img{
                                width: 100%;
                            }
                        }
                }
                .nav-menu{
                        display: inline-block;
                        position: absolute;
                        right: 0;
                        top: 39%;
                    .menu-list{
                            list-style: none;
                        .menu-item{
                                float: left;
                                margin: 0px 2em 0 2em;
                                a{
                                    color: white;
                                    font-size: 1.7rem;
                                }
                        }
                    }
                }
            }
            .header_main_sp{
                display: none;
            }
        }
        .header_txt{
                position: absolute;
                left: 0;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                width: 100%;
                text-align: center;
            h1{
                color: white;
                font-weight: bold;
            }
        }
        &::before{
            background-color: rgba(0,0,0,0.2);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            content: ' ';
        }
    }
    #side_btn{
            position: fixed;
            top: 32%;
            right: 0;
            width: 70px;
            overflow: hidden;
            border-radius: 10px 0 0 10px;
            z-index: 100;
        .item{
            position: relative;
            height: 70px;
            a{
                display: block;
                text-align: center;
                width: 90%;
                margin: 0 auto;
                bottom: 0;
                left: 0;
                right: 0;
                text-decoration: none;
                font-size: 11px;
                position: absolute;
                width: 100%;
                height: 100%;
                span{
                    display: block;
                    position: absolute;
                    bottom: 1px;
                    left: 0;
                    right: 0;
                }
            }
        }
        .form_item{
            background-color: #f59c1d;
            a{
                color: white;
                &::before{
                    background: url('../images/side_item1.png')no-repeat;
                    content: '';
                    width: 30px;
                    height: 30px;
                    background-size: 100%;
                    position: absolute;
                    left: 24px;
                    top: 7px;
                    bottom: 0;
                }
                &:hover{
                    opacity: 0.8;
                    cursor: pointer;
                }
            }
        }
        .simulation_item{
            background-color: #e74120;
            a{
                color: white;
                &::before{
                    background: url('../images/side_item2.png')no-repeat;
                    content: '';
                    width: 30px;
                    height: 30px;
                    background-size: 100%;
                    position: absolute;
                    left: 21px;
                    top: 7px;
                    bottom: 0;
                }
                &:hover{
                    opacity: 0.8;
                    cursor: pointer;
                }
            }
        }
    }
    .main_content{
        width: 100%;
        position: relative;
        padding: 30px 0;
        @media screen and (max-width: 1100px) {
                #jepx_about{
                    max-width : 1100px;
            }
        }
        #calc_block{
            max-width: 1000px;
            margin: 0 auto;
            .content_inner{
                .calc_txt{
                    text-align: center;
                    h3{
                        font-size: 2.2rem;
                        line-height: 1.5;
                        width: 65%;
                        margin: 0 auto;
                    }
                    p{
                        font-size: 1.9rem;
                        border: solid 2px #d43737;
                        margin-top: 25px;
                        color: #d43737;
                        padding: 10px;
                    }
                }
                .calc_form{
                    border: solid 2px;
                    border-color: #CDD6DD;
                    background-color: #F0F3F5;
                    margin-bottom: 40px;
                    padding: 30px;
                    margin-top: 30px;
                    .calc_list{
                        list-style: none;
                        .calc_item{
                            width: 100%;
                            padding: 20px 2px;
                            border-bottom: 1px dotted #ccc;
                            display: inline-block;
                            .item_name{
                                line-height: 35px;
                                float: left;
                                width: 17em;
                                font-size: 2rem;
                                .num{
                                    font-weight: bold;
                                    line-height: 28px;
                                    width: 30px;
                                    height: 30px;
                                    margin-right: 15px;
                                    padding-right: 1px;
                                    text-align: center;
                                    color: #fff;
                                    -webkit-border-radius: 50%;
                                    -moz-border-radius: 50%;
                                    border-radius: 50%;
                                    background: #3c6598;
                                    display: inline-block;
                                }
                            }
                            .form_item{
                                padding-left: 25em;
                                select{
                                    color: #3B4043;
                                    display: inline-block;
                                    border-color: #707F89;
                                    font-size: 2rem;
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    appearance: none;
                                    padding: 12px 40px 12px 16px;
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    width: 45%;
                                    background: url(../images/arrow_down.png) 94% center no-repeat #FFF;
                                    background-size: 10%;
                                    background-position-y: 23px;
                                }
                                input[type="text"]{
                                    color: #3B4043;
                                    border: solid 1px;
                                    display: inline-block;
                                    border-color: #707F89;
                                    font-size: 2rem;
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    appearance: none;
                                    padding: 7px 0px 7px 14px;
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    width: 45%;
                                }
                                .month_list_block{
                                    margin: 30px 0 0 0;
                                    .month_list{
                                        display: table;
                                        width: 100%;
                                        .month_detail{
                                            width: 100%;
                                            .month_item{
                                                width: 70px;
                                                float: left;
                                                margin: 3px 8px 3px 0;
                                                dt{
                                                    text-align: center;
                                                    font-size: 1.5rem;
                                                    color: #707F89;
                                                    font-weight: bold;
                                                }
                                                dd{
                                                    margin: 0;
                                                    input{
                                                        width: 100%;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .sum_block{
                                        width: 100%;
                                        display: inline-block;
                                        .sum_txt{
                                            
                                        }
                                    }
                                }
                                .life_block{
                                    h3{
                                        font-size: 2rem;
                                    }
                                    label{
                                        width: 100%;
                                        margin: 5px 0;
                                        font-size: 1.6rem;
                                        span{
                                            padding-left: 1%;
                                        }
                                    }
                                }
                                .elec_tani{
                                    padding-left: 1%;
                                    font-size: 2.5rem;
                                }
                            }
                        }
                        #capacity_l{
                            display: none;
                        }
                    }
                    .calc_btn{
                        width: 80%;
                        margin: 0 auto;
                        text-align: center;
                        background-color: #efa63e;
                        color: white;
                        padding: 20px 0;
                        cursor: pointer;
                        &:hover{
                            opacity: 0.75;
                        }
                        .submit_btn{
                            font-size: 3rem;
                            font-weight: bold;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
        #result_block{
            display: none;
            background-color: #eefaff;
            margin-top: 150px;
            .section_inner{
                padding-top:35px;
                padding-bottom: 45px;
                .result_title{
                    h2{
                        text-align: center;
                        font-size: 3.6rem;
                        position: relative;
                        &::after{
                            content: "";
                            position: absolute;
                            bottom: -25px;
                            left: 50%;
                            margin-left: -40px;
                            width: 80px;
                            height: 3px;
                            background-color: #222222;
                        }
                    }
                }
                .result_content{
                    max-width: 1000px;
                    margin: 0 auto;
                    background-color: white;
                    padding: 30px;
                    margin-top: 100px;
                    .result_detail{
                        text-align: center;
                    }
                    .result_detail {
                        width: 60%;
                        margin: 0 auto;
                        box-shadow: aliceblue;
                        box-shadow: 0 0.5rem 2rem rgba(0,0,0,0.15)!important;
                        padding: 30px;
                        p{
                            font-size: 2.5rem;
                        }
                        span#price_txt {
                            font-size: 4.9rem;
                            padding: 10px;
                            color: #ae2f2f;
                            font-weight: bold;
                        }
                    }
                    .result_data {
                        margin-top: 30px;
                    }
                }
            }
            .result_table{
                margin-top: 25px;
                table#month_table {
                    width: 100%;
                    margin: 0 auto;
                    text-align: center;
                    border-collapse: collapse;
                    border: 1px solid #ffffff;
                    padding: 7px;
                    background-color: #e3e3e3;
                    td{
                        border-collapse: collapse;
                        border: 1px solid #ffffff;
                        padding: 7px;
                        background-color: #f5f5f5;
                    }
                    .month_color{
                        background-color: #7aaec7 !important;
                        color: white;
                    }
                    tbody{
                        tr{
                            &:first-child{
                                td{
                                    background-color: #7aaec7 !important;
                                    color: white;
                                }
                            }
                            &:nth-child(n+2){
                                .lpio-price{
                                    font-weight: bold;
                                    color: #d12929;
                                }
                                .lpio-price.minus{
                                    font-weight: bold;
                                    color: #2b2b2b;
                                }
                            }
                        }   
                    }
                }
            }
        }
        #calc_note{
                max-width: 1000px;
                margin: 0 auto;
                margin-bottom: 30px;
                margin-top: 30px;
            .section_inner{
                border: solid 1px;
                border-color: #cdd6dd;
                background-color: #ececec;
                padding: 25px;
                h4{
                    font-weight: bold;
                }
                ul{
                    li{
                        line-height: 2;
                        font-size: 1.7rem;
                        .bold{
                            font-weight: bold;
                        }
                        .red{
                            color: red;
                        }
                    }
                }
            }
        }
    }
    .footer{
        background-color: #262D40;
        width: 100%;
        padding: 50px 0 0 0px;
        margin-top: -30px;
        nav{
            .footer-list{
                    max-width: 1170px;
                    margin: 0 auto;
                    top: 0;
                    left: 0;
                    display: flex;
                .footer-item{
                    width: 20%;
                    list-style: none;
                    display: inline-grid;
                    div{
                        dl{
                            dt{
                                font-size: 15px;
                                font-weight: 700;
                                margin: 0 24px 12px 0;
                                padding: 0 0 10px;
                                border-bottom: #FFF 2px solid;
                                a{
                                    color: #FFF;
                                }
                            }
                            dd{
                                font-size: 11px;
                                margin-top: 10px;
                                a{
                                    color: #FFF;
                                }
                                font-size: 11px;
                                &:before{
                                    content: '・';
                                    color: #FFF;
                                }
                            }
                        }
                    }
                    .footerSelectBtn{
                        display: none;
                    }
                }
            }
        }
    small{
        display: block;
        text-align: center;
        color: #FFF;
        font-size: 11px;
        padding: 40px 0;
        }
    }
    .yellow-marker {
    background: -webkit-linear-gradient(left, #fff799 50%, transparent 50%);
    background: -moz-linear-gradient(left, #fff799 50%, transparent 50%);
    background: linear-gradient(left, #fff799 50%, transparent 50%);
    background-repeat: no-repeat;
    background-size: 200% .8em; 
    background-position: 100% .8em;
    transition: 2s;
    }
    .yellow-marker.is-active{
        background-position: 0% .8em;
    }
    
    .green-marker {
    background: -webkit-linear-gradient(left, #b2ffb2 50%, transparent 50%);
    background: -moz-linear-gradient(left, #b2ffb2 50%, transparent 50%);
    background: linear-gradient(left, #b2ffb2 50%, transparent 50%);
    background-repeat: no-repeat;
    background-size: 200% .8em; 
    background-position: 100% .8em;
    transition: 2s;
    }
    .green-marker.is-active{
        background-position: 0% .8em;
    }
    
    .red-marker {
    background: -webkit-linear-gradient(left, #ffadad 50%, transparent 50%);
    background: -moz-linear-gradient(left, #ffadad 50%, transparent 50%);
    background: linear-gradient(left, #ffadad 50%, transparent 50%);
    background-repeat: no-repeat;
    background-size: 200% .8em; 
    background-position: 100% .8em;
    transition: 2s;
    }
    .red-marker.is-active{
        background-position: 0% .8em;
    }
}

/* IE対策 */
@media all and (-ms-high-contrast: none){
    body .header .header-content .header_txt{
        left: 10%;
    }
}