body .header .header-content {
  display: contents;
  position: relative; }
  body .header .header-content .header-main {
    display: none; }
  body .header .header-content .header_main_sp {
    display: block;
    background-color: #262d40;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 10000; }
    body .header .header-content .header_main_sp h1 {
      width: 100px;
      margin: 0 auto; }
      body .header .header-content .header_main_sp h1 a img {
        width: 100%; }
body .header .header_txt {
  top: 60%; }
  body .header .header_txt h1 {
    font-size: 2.2rem; }
body #side_btn {
  position: fixed;
  top: auto;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  border-radius: 0;
  z-index: 100; }
  body #side_btn .item {
    position: relative;
    height: 70px;
    width: 50%;
    float: left; }
    body #side_btn .item a {
      font-size: 1.5rem; }
      body #side_btn .item a::before {
        width: 35px;
        height: 35px;
        background-size: 100%;
        position: absolute;
        left: 0;
        top: 8px;
        bottom: 0;
        right: 0;
        margin: 0 auto; }
      body #side_btn .item a span br {
        display: none; }
body .main_content #calc_block {
  width: 90%;
  margin: 0 auto; }
  body .main_content #calc_block .content_inner .calc_txt h3 {
    font-size: 1.7rem;
    width: 100%; }
  body .main_content #calc_block .content_inner .calc_txt p {
    width: 100%;
    margin: 0 auto;
    font-size: 1.5rem !important; }
  body .main_content #calc_block .content_inner .calc_form {
    margin-bottom: 0;
    padding: 0;
    margin-top: 25px;
    padding-bottom: 20px; }
    body .main_content #calc_block .content_inner .calc_form .calc_list {
      padding: 0; }
      body .main_content #calc_block .content_inner .calc_form .calc_list .calc_item {
        width: 90%;
        margin: 0 auto;
        padding: 20px 0px;
        display: block; }
        body .main_content #calc_block .content_inner .calc_form .calc_list .calc_item .form_item {
          padding: 0; }
          body .main_content #calc_block .content_inner .calc_form .calc_list .calc_item .form_item select {
            width: 85%; }
    body .main_content #calc_block .content_inner .calc_form .calc_btn .submit_btn {
      font-size: 2rem; }
body .main_content #result_block {
  margin-top: 90px;
  background-color: #ffffff; }
  body .main_content #result_block .section_inner {
    padding-bottom: 0; }
    body .main_content #result_block .section_inner .result_title h2 {
      font-size: 3rem; }
    body .main_content #result_block .section_inner .result_content {
      width: 100%;
      margin-top: 70px; }
      body .main_content #result_block .section_inner .result_content .result_detail {
        width: 100%;
        padding: 15px; }
        body .main_content #result_block .section_inner .result_content .result_detail p {
          font-size: 2.1rem; }
body .main_content #calc_note {
  width: 90%; }
  body .main_content #calc_note .section_inner {
    padding: 15px; }
    body .main_content #calc_note .section_inner ul li {
      font-size: 1.5rem; }
body .footer {
  padding: 0px 0 50px 0px; }
  body .footer nav .footer-list {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    display: block;
    padding: 0; }
    body .footer nav .footer-list .footer-item {
      width: 100%;
      float: none; }
      body .footer nav .footer-list .footer-item div {
        display: none; }
        body .footer nav .footer-list .footer-item div dl {
          padding: 0;
          background: #fff;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex: 1;
          -webkit-box-flex: 1;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-flex-wrap: wrap;
          -webkit-box-align: stretch;
          -ms-flex-align: stretch;
          align-items: stretch;
          -ms-flex-line-pack: stretch;
          align-content: stretch; }
          body .footer nav .footer-list .footer-item div dl dt {
            width: 100%;
            margin: 0;
            padding: 0;
            border: solid #ddd;
            border-width: 0 1px 1px 0;
            font-weight: 400;
            -webkit-box-sizing: border-box;
            box-sizing: border-box; }
            body .footer nav .footer-list .footer-item div dl dt a {
              display: block;
              color: #333;
              font-size: 13px;
              padding: 10px 15px;
              height: 100%; }
          body .footer nav .footer-list .footer-item div dl dd {
            width: 100%;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border: solid #ddd;
            border-width: 0 1px 1px 0;
            margin-top: 0px; }
            body .footer nav .footer-list .footer-item div dl dd a {
              display: block;
              color: #333;
              font-size: 13px;
              padding: 10px 15px;
              height: 100%; }
      body .footer nav .footer-list .footer-item .footerSelectBtn {
        background: 0 0;
        border: solid #e2e2e26b;
        border-width: 0 0 1px;
        color: #fff;
        padding: 10px;
        outline: 0;
        width: 100%;
        text-align: left;
        font-size: 15px;
        cursor: pointer;
        display: block; }

.menu, .menu span {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  box-sizing: border-box; }

.menu {
  position: absolute;
  top: 20px;
  left: 25px;
  width: 35px;
  height: 23px;
  z-index: 10;
  background-color: #262d40;
  border: none; }

.menu span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  z-index: 10; }

.menu span:nth-of-type(1) {
  top: 0px; }

.menu span:nth-of-type(2) {
  top: 10px; }

.menu span:nth-of-type(3) {
  bottom: 0px; }

.menu.active span:nth-of-type(1) {
  -webkit-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg); }

.menu.active span:nth-of-type(2) {
  opacity: 0; }

.menu.active span:nth-of-type(3) {
  -webkit-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg); }

#nav {
  position: fixed;
  top: 53px;
  right: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  opacity: 0;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  visibility: hidden; }

#nav.active {
  right: 0;
  opacity: 1;
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  visibility: visible; }

#nav ul {
  margin: 20px 0;
  padding: 20px 0; }

#nav ul li {
  list-style-type: none;
  border-bottom: dotted 1px;
  border-color: #d0d0d0; }

#nav ul li a {
  display: block;
  padding: 20px 0;
  transition: all 0.2s ease-in-out;
  text-align: center;
  text-decoration: none;
  color: #333; }

#nav ul li a:hover {
  color: #f65d5d; }

/*# sourceMappingURL=calc_sp.css.map */
